* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f6f7;
}

img {
  height: 50px;
  width: auto;
}
